:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
		background-color: rgb(0, 0, 0);	
}

html, body {
    scrollbar-color: #1a1a1a #0c0b0b;     /* «цвет ползунка» «цвет полосы скроллбара» */
		scrollbar-width: auto;  /* толщина */
		/* полоса прокрутки (скроллбар) */
}

::-webkit-scrollbar {
	width: 12px; /* ширина для вертикального скролла */
	height: 12px; /* высота для горизонтального скролла */
	background-color:#080808;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color:  #141414;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #5f0000;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
	background: linear-gradient(120deg, #0c0b0b 40%, rgba(0, 0, 0, 0) 41%),
	linear-gradient(240deg, #0c0b0b 40%, rgba(0, 0, 0, 0) 41%),
	linear-gradient(0deg, #0c0b0b 30%, rgba(0, 0, 0, 0) 31%);
	background-color: #9c0202;
}

::-webkit-scrollbar-button:vertical:end:increment {
	background:
			linear-gradient(300deg, #0c0b0b 40%, rgba(0, 0, 0, 0) 41%),
			linear-gradient(60deg, #0c0b0b 40%, rgba(0, 0, 0, 0) 41%),
			linear-gradient(180deg, #0c0b0b 30%, rgba(0, 0, 0, 0) 31%);
	background-color:  #9c0202;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
	background:
			linear-gradient(30deg, #0c0b0b 40%, rgba(0, 0, 0, 0) 41%),
			linear-gradient(150deg, #0c0b0b 40%, rgba(0, 0, 0, 0) 41%),
			linear-gradient(270deg, #0c0b0b 30%, rgba(0, 0, 0, 0) 31%);
	background-color: #9c0202;
}

::-webkit-scrollbar-button:horizontal:end:increment {
	background:
			linear-gradient(210deg,#0c0b0b 40%, rgba(0, 0, 0, 0) 41%),
			linear-gradient(330deg, #0c0b0b 40%, rgba(0, 0, 0, 0) 41%),
			linear-gradient(90deg, #0c0b0b 30%, rgba(0, 0, 0, 0) 31%);
	background-color: #9c0202;
}

a {
    text-decoration: none;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 6rem;
    max-width: 155rem;
    margin: 2rem auto 2rem;
}

.header__title {
    font-family: 'Langar', cursive;
    color: rgb(215, 218, 214);
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin: 1rem auto 1rem;
    /*transition: all 0.5s ease;*/
}

.header__logo {
    height: 8rem;
}

.header__logo-img {
    /*width: 100%;*/
    height: 100%;
}


/* MAIN */

main {
    min-height: calc(100vh - 17rem);
}

.data__wrap {
    display: flex;
}

.first__column-wrap {
    width: 25%;
		height: 100%;
		margin: 0.5rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 1rem;
    font-family: 'Acme', sans-serif;
    color: rgb(215, 218, 214);
    font-size: 1.5rem;
    font-weight: 400;
}

.table__summery-wrap {
    width: 100%;
    /*height: 60%;*/
    display: flex;
    align-items: center;
		padding: 0.5rem;
		margin-bottom: 1rem;
}

.table__summery-title {
    font-family: 'Langar', cursive;
    color: rgb(215, 218, 214);
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.button__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.2rem 0rem;
}

.button__wrap-down {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0rem 0.2rem 1rem;
}

.button,
.button-down {
    border: 1px solid rgb(90, 1, 1);
    /*border-width: 1px 1px 0px 1px;
	border-color: rgb(90, 1, 1);*/
    font-family: 'Roboto', sans-serif;
    color: rgb(215, 218, 214);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 1rem;
		background-color: black;
		
    /*transition: all 0.3s ease-in-out;*/
}

.button-down.select {
  border-width: 0px 1px 1px 1px;
  border-color: red;	
	background-color: rgb(156, 0, 0);
}

.button.select {
	border-width: 1px 1px 0px 1px;
	border-color: red;
	background-color: rgb(156, 0, 0);
}

.button:hover,
.button-down:hover {
  cursor: pointer;
  border-color: rgb(175, 1, 1);	
	background-color: rgb(70, 0, 0);
}

button:active,
button:focus {
  outline: none;
}

.button_margin {
    margin-left: 2rem;
}

.table__summery-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table__summery-data-title {
    font-family: 'Roboto', sans-serif;
    margin: 1rem 0 0.5rem 0;
}

.table__summery-data-number {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: red;
    font-size: 3rem;
}

.chart-wrap {
    width: 100%;
		height: 40%;	
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

.chart {
	width:98%;
	height: 23rem;	
	border: 1px solid rgb(90, 1, 1);
    border-radius: 1rem;
}

.map__data-wrap {
    width: 50%;
		height: 100%;
		margin: 0.5rem;
}

.map__data {
	width:100%;
	height: 56.7rem;
	border-radius: 0 0 1rem 1rem;
}

.info {
	width: 30rem;
	padding: 6px 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
	background: rgba(14, 13, 13);
	box-shadow: 1px 1px 5px rgba(209, 209, 209, 0.2);
	border-radius: 5px;
	opacity: 0.9;
}

.info h4 {
	margin: 0 0 3px;
	color: rgb(160, 4, 4);
}

.legend {
	width: 98%;
	line-height: 18px;	
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;	
}

.legend_string {
	display: flex;
	margin: 0.2rem 0 0.2rem 1.5rem;
}

.legend_img {
	width: 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend_text {
	margin-left: 0.3rem;
	display: flex;	
	align-items: center;
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
		color: rgb(255, 254, 254);
		font-size: 1.5rem;	
}

.table__city-list-wrap {
    width: 25%;
		height: 600px;
		margin: 0.5rem;	
}

.countries__table-wrap {
	width: 100%;
	height: 54rem;
	display: flex;
	flex-direction: column;
}

#table__wrapper {
	overflow: auto;
	margin: 0.5rem;
}

#countries__table {
	width: 98%;
}

#search__field {
    position: sticky;
		top: 0;
		width: 99%;
		margin: 0.2rem auto;
		background: #181818;
		color: white;
}

.flag-image {
    width: 20px;
}

/* footer */
.footer {
    width: 85%;
    height: 3rem;
    max-width: 155rem;
    margin: 1.5rem auto 0.8rem;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__link {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;    
    color: rgb(255, 255, 255);   
    display: flex;
    align-items: flex-end;
}

.footer__link-href-autor {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.footer__link-year {
    margin-right: 3rem;
}

.footer__link-rs {
    display: flex;
    justify-content: flex-end;
    height: 2rem;
    margin-left: 20rem;
}

.footer__link-href {
	height: 2.8rem;
    width: 8rem;
}

.footer__icon-js {
    height: 3.5rem;
}

@font-face {
    font-family: 'Langar';
    src: url("./assets/fonts/Langar-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}
